admin_user_id="0000000000"

telegram_token="0000000000:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
gemini_api_key="AIzaSyAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
gemini_model="gemini-3.5-flash"
gemini_model_lite="gemini-3.1-flash-lite"
gemini_data_file="data/gemini_history.json"
gemini_backup_dir="data/backups"